<div class="row">
  <div class="col-md-11">
	  <div class="single_comment">
	  	<div class="comment_text"><%= comment.value %></div>
	  	<div class="comment_user"><i class="fa fa-user"></i> <%= comment.user.email %></div>
	  	<div class="comment_time"><i class="fa fa-clock-o"></i> <%= comment.created_at.in_time_zone("New Delhi").strftime('%d %b, %I:%M %p') %></div>
	  </div>
  </div>
  <div class="col-md-1">
  	<div class="votes">
  		<div><i class="fa fa-thumbs-up"></i></div>
  		<div>20</div>
  		<div><i class="fa fa-thumbs-down"></i></div>
  	</div>
  </div>
</div>
