<div class="form_comment">
	<%= form_tag(comments_path, {authenticity_token: form_authenticity_token, remote: true, id:"comment_form"}) do %>
		<%= hidden_field_tag "topic_id", @topic.id %>
		<div class="row">
		  <div class="col-md-11">
			<h4>Add a comment to this topic</h4>
			<div class="form-group">
			<label>Email</label>
			<input id="commentor_email" type="email" name="email" placeholder="email" class="form-control" required="true" />
			</div>
			<div class="form-group">
			<label>Comment</label>
			<textarea required="true"  id="new_comment" name="comment" placeholder="Start typing..." class="form-control"></textarea>
			</div>
			<button class="btn btn-primary pull-right">Submit</button>
		  </div>
		</div>
	<% end %>
</div>

<div class="all_comments">
	<% if @comments.present? %>
		<%= render "comments_list" %>
	<% else %>
		<div class="no_comments">No comments on this topic.</div>
	<% end %>
</div>


<script type="text/javascript">
	$(document).on('ready', function() {
		if ($('.infinite_scroll').size() > 0) {
		  $(window).on('scroll', function() {
		    var more_posts_url;
		    more_posts_url = $('.pagination a[rel=next]').attr('href');
		    if (more_posts_url && $(window).scrollTop() > $(document).height() - $(window).height() - 200) {
		      $('.pagination').html("");
		      $.ajax({
		        url: more_posts_url,
		        success: function(data) {
		          return $(".all_comments").append(data);
		        }
		      });
		    }
		    if (!more_posts_url) {
		      return $('.pagination').html("");
		    }
		  });
		  return;
		}

	});
</script>